.card {
  width: 400px;
  margin: 16px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  justify-items: center;
  padding: 30px;
}

.card-container .card-image {
  height: 160px;
  width: 100%;
  object-fit: contain;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(236, 236, 236);
}