.newsItem {
  max-width: 100%;
  text-align: center;
  padding: 25px;
  box-sizing: border-box;
}

.item {
  max-width: 90%;
}

.newsImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 3px;
}

h3 {
  margin: 10px 0 5px;
}

p {
  margin: 0 0 25px;
}